
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <ul class="navbar">
      <li class="navbar-all-items"><%= link_to "Home", root_path, class: "navbar-item" %></li>
      <li class="navbar-all-items"><%= link_to "New Post", new_post_path, class: "navbar-item" %></li>
      <li class="navbar-all-items" style="float:right"><a class="navbar-item" href="#">Log In</a></li>
     <li class="navbar-all-items" style="float:right"><a class="navbar-item" href="#">Sign Up</a></li>
    </ul>