/* Header/Blog Title */
.header {
  border-radius: 4px;
  padding: 1px;
  text-align: center;
  background-image: url(/assets/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  h1 {
    font-size: 50px;
  }
}

/* Style the top navigation bar */
.topnav {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
      background-color: rgb(234, 245, 244);
      color: black;
    }
  }
}

/* style posts feed */
.leftcolumn {   
  float: left;
  width: 75%;
}
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  border-radius: 4px;
  .pop-post-card {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    h3 {
      margin-top: 0%;
      margin-bottom: 10px;
      text-align: center;
      font-size: 24px;
    }
    .link-p-p {
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      text-decoration: none;
      background-color: rgb(234, 245, 244);
      border-radius: 4px;
      padding: 10px;
      color: black;
      font-size: large;
      margin-top: 5px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      &:hover {
        background-color:rgb(51, 51, 51);
        color: white;
      }
    }
  }
}

/* Add a card effect for posts */
.post-card {
  border-radius: 4px;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  h2 {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  h5 {
    margin-top: 0%;
  }
}

/* buttons on a post card*/
.btn-log {
  font-size: 15px;
  color: #001f9d;
  text-align: center;
}
.btn-control {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(234, 245, 244);
  border-radius: 4px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  &:hover {
    background-color:rgb(51, 51, 51);
    color: white;
  }
}

// posts pagination

.index_pagination {
  margin-top: 10px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  padding: 5px;
  cursor: default; 
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: rgb(200, 241, 238);
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: underline;
    }
  }
}

// flashes
.notice {
  background-color: rgba(7, 149, 66, 0.12156862745098039);
  color: #07b604;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 0%;
  
}
.alert {
  background-color: rgba(220, 17, 1, 0.16);
  color: #c20000;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 0%;
}


@media (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  .header h1 {
    font-size: 25px;
  }
}



